.fetch-container{
  align-items: center;
  justify-content: center;

  margin: 1rem;
  min-height: 50rem;
}
.btn{
  display: flex;
  justify-content: center;
  
}
button{
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;

}
button:hover{
  background-color: black;
  color: palevioletred;
}
h1{
  display: flex;
  font-size: 3rem;
  font-family: cursive;
  justify-content: center;
}

.app{
  margin: 2rem;
  display:flexbox;
  justify-content: center;
  width: 95rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color:rgb(223, 227, 185);
}
.fetch-card{
  margin: 2rem;
  display:flexbox;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1rem;
  font-size: 3rem;
  background-color:rgb(226, 146, 164);
}